:root {
    --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
    --color-desaturated-dark-blue: hsl(214, 17%, 51%);
    --color-grayish-blue: hsl(212, 23%, 69%);
    --color-light-grayish-blue: hsl(210, 46%, 95%);
    --color-white: hsl(0, 0%, 100%);

        
    --spacing-05: 0.125rem;
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;
    --spacing-5: 1.25rem;
    --spacing-6: 1.5rem;
    --spacing-7: 1.75rem;
    --spacing-8: 2rem;
    --spacing-9: 2.25rem;
    --spacing-10: 2.5rem;
    --spacing-12: 3rem;
    --spacing-16: 4rem;
    --spacing-20: 5rem;

    font-size: 13px;

    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


.manrope-bold {
  font-weight: bold;
}

body, h1, p {
    margin: 0;
}

main {
    min-height: 100vh;
    background-color: var(--color-light-grayish-blue);
    padding: var(--spacing-20) var(--spacing-8);
}

article {
    background-color:  var(--color-white);
    border-radius: var(--spacing-4);
    box-shadow: 0px 8px 70px -36px var(--color-very-dark-grayish-blue);

    overflow: hidden;
}

.article-pic {
    background-image: url('images/drawers.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
}

section {
    padding: var(--spacing-4) var(--spacing-10) var(--spacing-4) var(--spacing-10);
}

h1 {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--color-very-dark-grayish-blue);
    margin-top: var(--spacing-7);
}

section p {
    color: var(--color-desaturated-dark-blue);
    margin-top: var(--spacing-4);
}

footer {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--spacing-4) var(--spacing-10) var(--spacing-4) var(--spacing-10);
    transition: background-color 0.5s ease, transform 0.5s ease;
}

#info {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-4);
    
    align-items: center;
    
    width: 100%;
}

#info>.avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#info>.text {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.name {
    font-weight: bold;
    color: var(--color-very-dark-grayish-blue);
}

.date {
    color: var(--color-desaturated-dark-blue);
    font-weight: 300;
}

#share>img {
    width: 25px;
    height: 25px;
}

#share.hidden {
    display: none;
}

#share.shown {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    flex: 1;
    gap: clamp(var(--spacing-1), calc(var(--spacing-1) + 2%), var(--spacing-6));

    align-items: center;

    color: var(--color-grayish-blue);
    text-transform: uppercase;
    letter-spacing: var(--spacing-2);
    font-weight: 100;
}



footer>#share-btn {
    width: fit-content;
    padding: var(--spacing-3);
    aspect-ratio: 1 / 1 ;
    border-radius: 50%;
    border: none;
    background-color: var(--color-light-grayish-blue);
}

#share-btn svg {
    color: var(--color-desaturated-dark-blue);
}

#share-btn:hover {
    cursor: pointer;
}

#share-tooltip {
    visibility: hidden;
    background-color: var(--color-very-dark-grayish-blue);
    padding: var(--spacing-6) var(--spacing-10);
    border-radius: var(--spacing-4);
  
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
 
    position: absolute;
    z-index: 1;

    width: fit-content;

    
    display: flex;
    flex-direction: row;
    gap: clamp(var(--spacing-1), var(--spacing-6));

    align-items: center;

    color: var(--color-grayish-blue);
    text-transform: uppercase;
    letter-spacing: var(--spacing-2);
    font-weight: 100;
    font-family: "Manrope", sans-serif;

}

#share-tooltip::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--color-very-dark-grayish-blue) transparent transparent transparent;
}



@media (min-width: 768px) {
    main {
        padding: 0 var(--spacing-8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    article {
        display: flex;
        flex-direction: row;
        width: 732px;

        overflow: visible;
    }
    
    .article-pic {
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;

        height: auto;
        width: 288px;
        flex-shrink: 0;
    }

    #share-btn {
        position: relative;
    }

    #share-btn.active {
        background-color: var(--color-desaturated-dark-blue);
    }
    
    #share-btn.active svg {
        color: var(--color-white);
    }
    
    #share-btn:hover #share-tooltip {
        visibility: visible;
    }
}